.pyot-h1 {
    font-size: 3em;
    font-weight: bolder;
    padding: 20px;
}

.pyot-h3 {
    font-size: 1.15em;
    font-weight: bolder;
    padding: 5px;
}

.pyot-p-large {
    font-size: 2em;
}

.pyot-p-medium {
    font-size: 1.25em;
}

.pyot-p-small {
    font-size: 1em;
}

.pyot-stats-bg-color {
    background-color: #fefefe;
    padding: 20px;
}

.pyot-stats-header {
    font-size: 1.5em;
    font-weight: bolder;
}

.pyot-stats-value {
    font-size: 1.5em;
}

.pyot-list-tracks-label {
    font-size: 1.1em;
    padding: 10px 0px 10px 0px;
    margin-left: 10px;
}

.pyot-prefs-header {
    font-size: 1.25em;
    font-weight: bolder;
    padding-top: 20px;
}

.pyot-prefs-help {
    font-size: 1em;
    padding-top: 5px;
}
