.pyot-bg {
    background-color: #f6f5f4;
}

.pyot-h1 {
    font-size: 3em;
    font-weight: bolder;
    padding: 20px 0px 20px 0px;
}

.pyot-h2 {
    font-size: 2em;
    font-weight: bolder;
    padding: 5px 0px 5px 0px;
}

.pyot-h3 {
    font-size: 1.15em;
    font-weight: bolder;
    padding: 5px 0px 5px 0px;
}

.pyot-p-large {
    font-size: 2em;
}

.pyot-p-medium {
    font-size: 1.25em;
}

.pyot-p-small {
    font-size: 1em;
}

.pyot-stats-bg-color {
    padding: 20px;
    background-color: #fefefe;
}

.pyot-stats-header {
    font-size: 1em;
}

.pyot-stats-value {
    font-size: 1.75em;
    font-weight: bolder;
}

.pyot-stats-small-header {
    font-size: 1.1em;
    font-weight: bolder;
}

.pyot-list-tracks-label {
    font-size: 1.1em;
    padding: 10px 0px 10px 0px;
    margin-left: 10px;
}

.pyot-prefs-header {
    font-size: 1.25em;
    font-weight: bolder;
    padding-top: 20px;
}

.pyot-prefs-help {
    font-size: 1em;
    padding-top: 5px;
}

.pyot-box-with-margin {
    margin: 20px;
}
